*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
npm-debug.log
prepublish.log
.gitignore
.gitattributes
.jshintrc
.npmignore
.travis.yml
FlexSDKs.md
Gruntfile.js
prepublish.js

lib-cov
pids
logs
results
node_modules
test
tests

lib/flex_sdk/ant/
lib/flex_sdk/asdoc/
lib/flex_sdk/frameworks/libs/player/*/
lib/flex_sdk/frameworks/projects/
lib/flex_sdk/frameworks/locale/da_DK/
lib/flex_sdk/frameworks/locale/de_DE/
lib/flex_sdk/frameworks/locale/es_ES/
lib/flex_sdk/frameworks/locale/fi_FI/
lib/flex_sdk/frameworks/locale/fr_FR/
lib/flex_sdk/frameworks/locale/it_IT/
lib/flex_sdk/frameworks/locale/ja_JP/
lib/flex_sdk/frameworks/locale/ko_KR/
lib/flex_sdk/frameworks/locale/nb_NO/
lib/flex_sdk/frameworks/locale/nl_NL/
lib/flex_sdk/frameworks/locale/pt_BR/
lib/flex_sdk/frameworks/locale/ru_RU/
lib/flex_sdk/frameworks/locale/sv_SE/
lib/flex_sdk/frameworks/locale/zh_CN/
lib/flex_sdk/frameworks/locale/zh_TW/
lib/flex_sdk/include/
lib/flex_sdk/install/
lib/flex_sdk/lib/android/
lib/flex_sdk/lib/aot/
lib/flex_sdk/lib/nai/
lib/flex_sdk/lib/win/
lib/flex_sdk/runtimes/
lib/flex_sdk/samples/
lib/flex_sdk/templates/
